{
  "env": {
    "test": {
      "plugins": [
        "typecheck"
      ]
    }
  },
  "plugins": [
    "lodash",
    "transform-flow-comments",
    "transform-runtime"
  ],
  "presets": [
    "react-app"
  ]
}
